[librairise forcasting temporelle](https://scikit-hts.readthedocs.io/en/latest/readme.html)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# chargemnt librairie
import pandas as pd
import numpy as np
import os
import calendar
from datetime import datetime
import holidays
import datetime

In [ ]:
directory="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_RTE_METEO"
os.chdir(directory)

In [ ]:
# chargement de données météo
import time
# temps de chargment
start_time = time.perf_counter()

df_meteo=pd.read_csv("df_meteo_clean.csv",delimiter=",")#,nrows=20_000 df_meteo_clean.csv
end_time = time.perf_counter()
print(end_time-start_time," secondes")
df_meteo.shape

1.2160457850000057  secondes

(420480, 4)

In [ ]:
df_meteo['DateHeure'] = pd.to_datetime(df_meteo['DateHeure'],utc=True)
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420480 entries, 0 to 420479
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DateHeure  420480 non-null  datetime64[ns, UTC]
 1   year       420480 non-null  int64
 2   region     420480 non-null  object
 3   temp       420480 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(1)
memory usage: 12.8+ MB

In [ ]:
df_meteo_sort=df_meteo.sort_values(by=["region","DateHeure"])
df_meteo_sort

                       DateHeure  year                region      temp
0      2021-01-01 00:00:00+00:00  2021  Auvergne-Rhône-Alpes  276.1250
1      2021-01-01 00:30:00+00:00  2021  Auvergne-Rhône-Alpes  276.0125
2      2021-01-01 01:00:00+00:00  2021  Auvergne-Rhône-Alpes  275.9000
3      2021-01-01 01:30:00+00:00  2021  Auvergne-Rhône-Alpes  275.7875
4      2021-01-01 02:00:00+00:00  2021  Auvergne-Rhône-Alpes  275.6750
...                          ...   ...                   ...       ...
420475 2022-12-31 21:30:00+00:00  2022      Pays-de-la-Loire  288.0500
420476 2022-12-31 22:00:00+00:00  2022      Pays-de-la-Loire  288.0500
420477 2022-12-31 22:30:00+00:00  2022      Pays-de-la-Loire  288.0500
420478 2022-12-31 23:00:00+00:00  2022      Pays-de-la-Loire  288.0500
420479 2022-12-31 23:30:00+00:00  2022      Pays-de-la-Loire  288.0500

[420480 rows x 4 columns]

In [ ]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420480 entries, 0 to 420479
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DateHeure  420480 non-null  datetime64[ns, UTC]
 1   year       420480 non-null  int64
 2   region     420480 non-null  object
 3   temp       420480 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(1)
memory usage: 12.8+ MB

In [ ]:
#verification de dimesion pour chaque région
regions=df_meteo.region.unique()
for region in regions:
  T=df_meteo.loc[(df_meteo["region"]==region)]
  print(region," : ",T.shape[0])

Auvergne-Rhône-Alpes  :  35040
Bourgogne-Franche-Comté  :  35040
Bretagne  :  35040
Centre-Val de Loire  :  35040
Grand-Est  :  35040
Hauts-de-France  :  35040
Ile-de-France  :  35040
Normandie  :  35040
Nouvelle-Aquitaine  :  35040
Occitanie  :  35040
PACA  :  35040
Pays-de-la-Loire  :  35040

##chargement données consommation electrique

In [ ]:
# chargement de données électricité
import time
# temps de chargment
start_time = time.perf_counter()

df_conso=pd.read_csv("df_conso_2021_2022.csv",delimiter=",")#,nrows=20_000 df_meteo_clean.csv
end_time = time.perf_counter()
print(end_time-start_time," secondes")
df_conso.shape

0.7812581660000433  secondes

(420480, 4)

In [ ]:
df_conso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420480 entries, 0 to 420479
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DateHeure  420480 non-null  object
 1   year       420480 non-null  int64
 2   region     420480 non-null  object
 3   conso      420480 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.8+ MB

In [ ]:
df_conso['DateHeure'] = pd.to_datetime(df_conso['DateHeure'],utc=True)
df_conso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420480 entries, 0 to 420479
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   DateHeure  420480 non-null  datetime64[ns, UTC]
 1   year       420480 non-null  int64
 2   region     420480 non-null  object
 3   conso      420480 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(1)
memory usage: 12.8+ MB

In [ ]:
df_conso.isna().sum()

DateHeure    0
year         0
region       0
conso        0
dtype: int64

In [ ]:
for region in regions:
  T=df_conso.loc[(df_conso["region"]==region)]
  print(region," : ",T.shape[0])

Auvergne-Rhône-Alpes  :  35040
Bourgogne-Franche-Comté  :  35040
Bretagne  :  35040
Centre-Val de Loire  :  35040
Grand-Est  :  35040
Hauts-de-France  :  35040
Ile-de-France  :  35040
Normandie  :  35040
Nouvelle-Aquitaine  :  35040
Occitanie  :  35040
PACA  :  35040
Pays-de-la-Loire  :  35040

In [ ]:
df_conso_sort=df_conso.sort_values(by=["region","DateHeure"])

In [ ]:
#merge df consommation et df météo des régions
df_merged = pd.merge(df_conso_sort, df_meteo_sort, on=['DateHeure','region'])
df_region=df_merged[["DateHeure","region","conso","temp"]]
df_region['conso']=df_region['conso'].astype(int)

<ipython-input-12-d7dbe13994bb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region['conso']=df_region['conso'].astype(int)

In [ ]:
df_region=df_region.copy()
df_region=df_region.sort_values(by=["DateHeure"])
df_region.head(14)

                       DateHeure                   region  conso        temp
0      2021-01-01 00:00:00+00:00     Auvergne-Rhône-Alpes   8576  276.125000
350400 2021-01-01 00:00:00+00:00                     PACA   6395  277.283333
315360 2021-01-01 00:00:00+00:00                Occitanie   5840  278.416667
70080  2021-01-01 00:00:00+00:00                 Bretagne   3984  273.983333
35040  2021-01-01 00:00:00+00:00  Bourgogne-Franche-Comté   2671  275.150000
280320 2021-01-01 00:00:00+00:00       Nouvelle-Aquitaine   6512  275.150000
245280 2021-01-01 00:00:00+00:00                Normandie   4326  272.775000
385440 2021-01-01 00:00:00+00:00         Pays-de-la-Loire   4230  274.050000
210240 2021-01-01 00:00:00+00:00            Ile-de-France   9914  272.750000
175200 2021-01-01 00:00:00+00:00          Hauts-de-France   6340  273.100000
140160 2021-01-01 00:00:00+00:00                Grand-Est   5321  274.870000
105120 2021-01-01 00:00:00+00:00      Centre-Val de Loire   2900  273.250000
245281 2021-01-01 00:30:00+00:00                Normandie   4288  272.900000
315361 2021-01-01 00:30:00+00:00                Occitanie   5713  278.225000

##chargement data conso nationale

In [ ]:
# chargement de données électricité natioanle
import time
# temps de chargment
start_time = time.perf_counter()

df_conso_nat=pd.read_csv("df_conso_nationale.csv",delimiter=",")#,nrows=20_000 df_meteo_clean.csv
end_time = time.perf_counter()
print(end_time-start_time," secondes")
df_conso_nat.shape

0.4461762500000077  secondes

(35040, 6)

In [ ]:
df_conso_nat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        35040 non-null  object
 1   datetime      35040 non-null  object
 2   year          35040 non-null  int64
 3   timestamp     35040 non-null  object
 4   heure         35040 non-null  object
 5   Consommation  35040 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.6+ MB

In [ ]:
#convertir la date en datetime
df_conso_nat['DateHeure'] = pd.to_datetime(df_conso_nat['timestamp'],utc=True)
df_conso_nat=df_conso_nat[["DateHeure","region","Consommation"]]

ajout temp moyenne nationnale pour les 30 min

In [ ]:
#fonction qui calcule la température moyenne nationale pour chaque 30mn
def agg_func(x):
    return pd.DataFrame.from_dict({
        'temp': x['temp'].mean()
    }, orient='index').transpose()

df_region1=df_region.copy()
df_region_sort=df_region1.sort_values(by=["DateHeure"])
#application de la fonction pou calculer la temp moyenne
temp_mean= df_region_sort.groupby('DateHeure').apply(agg_func).reset_index()

In [ ]:
# je selectionne que le datetime et la température
temp_mean=temp_mean[["DateHeure","temp"]]
temp_mean

                      DateHeure        temp
0     2021-01-01 00:00:00+00:00  274.741944
1     2021-01-01 00:30:00+00:00  274.671505
2     2021-01-01 01:00:00+00:00  274.601065
3     2021-01-01 01:30:00+00:00  274.530625
4     2021-01-01 02:00:00+00:00  274.460185
...                         ...         ...
35035 2022-12-31 21:30:00+00:00  284.921227
35036 2022-12-31 22:00:00+00:00  283.521204
35037 2022-12-31 22:30:00+00:00  282.121181
35038 2022-12-31 23:00:00+00:00  280.721157
35039 2022-12-31 23:30:00+00:00  279.321134

[35040 rows x 2 columns]

In [ ]:
# jout de la tempéature moyenne nationale dans le df_conso_nat
df_conso_nat_finale=pd.merge(df_conso_nat,temp_mean,on=['DateHeure'])
df_conso_nat_finale=df_conso_nat_finale.rename(columns={"Consommation":"conso"})

In [ ]:
df_conso_nat_finale

                      DateHeure  region  conso        temp
0     2021-01-01 00:00:00+00:00  France  67010  274.741944
1     2021-01-01 00:30:00+00:00  France  67071  274.671505
2     2021-01-01 01:00:00+00:00  France  65052  274.601065
3     2021-01-01 01:30:00+00:00  France  64918  274.530625
4     2021-01-01 02:00:00+00:00  France  64376  274.460185
...                         ...     ...    ...         ...
35035 2022-12-31 21:30:00+00:00  France  43971  284.921227
35036 2022-12-31 22:00:00+00:00  France  43506  283.521204
35037 2022-12-31 22:30:00+00:00  France  44566  282.121181
35038 2022-12-31 23:00:00+00:00  France  46232  280.721157
35039 2022-12-31 23:30:00+00:00  France  46024  279.321134

[35040 rows x 4 columns]

### df grobal

In [ ]:
# je concatene tout pour avoir un seul df final apres tous les prétraitement
df_global=pd.concat([df_region,df_conso_nat_finale])

In [ ]:
df_global

                       DateHeure                   region  conso        temp
0      2021-01-01 00:00:00+00:00     Auvergne-Rhône-Alpes   8576  276.125000
350400 2021-01-01 00:00:00+00:00                     PACA   6395  277.283333
315360 2021-01-01 00:00:00+00:00                Occitanie   5840  278.416667
70080  2021-01-01 00:00:00+00:00                 Bretagne   3984  273.983333
35040  2021-01-01 00:00:00+00:00  Bourgogne-Franche-Comté   2671  275.150000
...                          ...                      ...    ...         ...
35035  2022-12-31 21:30:00+00:00                   France  43971  284.921227
35036  2022-12-31 22:00:00+00:00                   France  43506  283.521204
35037  2022-12-31 22:30:00+00:00                   France  44566  282.121181
35038  2022-12-31 23:00:00+00:00                   France  46232  280.721157
35039  2022-12-31 23:30:00+00:00                   France  46024  279.321134

[455520 rows x 4 columns]

In [ ]:
#sauvegarde df global
df_global.to_csv("df_global.csv",index=False)

In [ ]:
df_global

                       DateHeure                region   conso      temp
0      2021-01-01 00:00:00+00:00  Auvergne-Rhône-Alpes  8576.0  276.1250
1      2021-01-01 00:30:00+00:00  Auvergne-Rhône-Alpes  8514.0  276.0125
2      2021-01-01 01:00:00+00:00  Auvergne-Rhône-Alpes  8273.0  275.9000
3      2021-01-01 01:30:00+00:00  Auvergne-Rhône-Alpes  8253.0  275.7875
4      2021-01-01 02:00:00+00:00  Auvergne-Rhône-Alpes  8234.0  275.6750
...                          ...                   ...     ...       ...
420475 2022-12-31 21:30:00+00:00      Pays-de-la-Loire  2642.0  288.0500
420476 2022-12-31 22:00:00+00:00      Pays-de-la-Loire  2616.0  288.0500
420477 2022-12-31 22:30:00+00:00      Pays-de-la-Loire  2807.0  288.0500
420478 2022-12-31 23:00:00+00:00      Pays-de-la-Loire  3081.0  288.0500
420479 2022-12-31 23:30:00+00:00      Pays-de-la-Loire  3032.0  288.0500

[420480 rows x 4 columns]

### ajout des variables temps dans le df_global

In [ ]:
import datetime
#creation colle heure
#df['heure'] = df['DateHeure'].dt.strftime('%H:%M:%S')
df=df_global.copy()
df['heure'] = df['DateHeure'].dt.hour

df['date'] = df['DateHeure'].dt.strftime('%Y-%m-%d')
df['date'] = pd.to_datetime(df['date'])
#df['period_journey'] = df['heure'].apply(lambda x: 'Matin' if x <12 else ('Apres-midi' if x <18 else ('Soir' if x < 22  else 'Nuit')))
df['period_journey'] = df['heure'].apply(lambda x: 0 if x <12 else (1 if x <18 else (2 if x < 22  else 3)))

# jour férié en France
fr_holidays = holidays.country_holidays('FR')
df["isHolyday"]=df.DateHeure.map(lambda d: d in fr_holidays) 
#jour de la semaine
#df["weekday"] = [calendar.day_name[date.weekday()] for date in df.DateHeure]
df["weekday"] = [date.weekday() for date in df.DateHeure]

#wennd-end
df['Weekend'] =[True if date.weekday() in [calendar.SATURDAY, calendar.SUNDAY] else False   for date in df.DateHeure]
# mois 
#df['Mois'] = df['DateHeure'].dt.strftime('%B') # nom de mois janvier,...
df['Mois'] = df['DateHeure'].dt.strftime('%m') # nombre 1, 2,....
df['year'] = df['DateHeure'].dt.strftime('%Y')

In [ ]:
#sauvegarde
#sauvegarde df global
df.to_csv("df_ajout_var_calendar.csv",index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455520 entries, 0 to 35039
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DateHeure       455520 non-null  datetime64[ns, UTC]
 1   region          455520 non-null  object
 2   conso           455520 non-null  int64
 3   temp            455520 non-null  float64
 4   heure           455520 non-null  int64
 5   date            455520 non-null  datetime64[ns]
 6   period_journey  455520 non-null  int64
 7   isHolyday       455520 non-null  object
 8   weekday         455520 non-null  int64
 9   Weekend         455520 non-null  bool
 10  Mois            455520 non-null  object
 11  year            455520 non-null  object
dtypes: bool(1), datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 42.1+ MB

In [ ]:
# preparation de dat pour les modeles time série
# Téléchargement des données de consommation d'électricité de RTE et des données météo de MeteoFrance
# Mise en forme matricielle des données : chaque journée est représentée par une ligne
df_mc=df.copy()
df_mc=df_global.copy()
df_mc['heure'] = df_mc['DateHeure'].dt.hour
df_mc['hour'] = df_mc['DateHeure'].dt.strftime('%H:%M')
df_mc['date'] = df_mc['DateHeure'].dt.strftime('%Y-%m-%d')
df_mc['date'] = pd.to_datetime(df_mc['date'])
#df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 'Matin' if x <12 else ('Apres-midi' if x <18 else ('Soir' if x < 22  else 'Nuit')))
df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 0 if x <12 else (1 if x <18 else (2 if x < 22  else 3)))
df_matrix = df_mc.pivot_table(index=["date"], 
                                             columns=["hour","region"], 
                                             values="conso")
# Reconstruction des informations calendrier utiles

# Créez une colonne de jours de la semaine en utilisant la fonction weekday de calendar
df_matrix["weekday"] = [calendar.day_name[date.weekday()] 
                                      for date in df_matrix.index]

# Ajoutez une colonne "Weekend" qui indique si la date est un week-end ou non
df_matrix['Weekend'] =[True if date.weekday() in [calendar.SATURDAY, calendar.SUNDAY] else False   for date in df_matrix.index]
# Ajoutez une colonne "Moment de la journée" qui indique si l'heure est le matin, l'après-midi, le soir ou la nuit
#df_matrix['period_journey'] = df_matrix.index.apply(lambda x: 'Matin' if x < datetime.time(12) else ('Apres-midi' if x < datetime.time(18) else ('Soir' if x < datetime.time(22) else 'Nuit')))
#df_matrix["weekday"] = df_matrix.Index.weekday()
#df_matrix["month"] = df_matrix.index.month
df_matrix['month'] = df_matrix.index.strftime('%B')
df_matrix["year"] = df_matrix.index.year

# création d'une colonne pour indiquer si le jour est férié ou pas
# objet holiday France
fr_holidays = holidays.country_holidays('FR')
df_matrix["isHolyday"]=df_matrix.index.map(lambda d: d in fr_holidays)

In [ ]:
df_matrix

hour                      00:00                                   \
region     Auvergne-Rhône-Alpes Bourgogne-Franche-Comté Bretagne
date
2021-01-01                 8576                    2671     3984
2021-01-02                 8111                    2352     3018
2021-01-03                 7547                    2334     3219
2021-01-04                 6566                    2081     2608
2021-01-05                 6671                    2175     2656
...                         ...                     ...      ...
2022-12-27                 7017                    2026     2906
2022-12-28                 7797                    2027     2812
2022-12-29                 7691                    1814     2827
2022-12-30                 7432                    1975     2936
2022-12-31                 7167                    1695     2546

hour                                                                           \
region     Centre-Val de Loire France Grand-Est Hauts-de-France Ile-de-France
date
2021-01-01                2900  67010      5321            6340          9914
2021-01-02                2648  58834      5383            6550          8337
2021-01-03                2594  57017      5035            5937          8364
2021-01-04                1888  48189      4611            5406          6577
2021-01-05                2130  50370      4781            5625          7274
...                        ...    ...       ...             ...           ...
2022-12-27                2301  50799      4083            6222          8195
2022-12-28                2356  52142      4092            6507          8249
2022-12-29                2221  51097      4002            5316          7919
2022-12-30                2315  51553      3807            6306          8180
2022-12-31                2099  48022      4074            6133          7483

hour                                     ...     23:30                     \
region     Normandie Nouvelle-Aquitaine  ... Normandie Nouvelle-Aquitaine
date                                     ...
2021-01-01      4326               6512  ...      4230               6597
2021-01-02      3578               5083  ...      3738               5630
2021-01-03      3625               5205  ...      3655               5122
2021-01-04      2801               4249  ...      2915               4154
2021-01-05      3154               4442  ...      3061               4468
...              ...                ...  ...       ...                ...
2022-12-27      3540               4748  ...      3426               4826
2022-12-28      3416               4795  ...      3308               4750
2022-12-29      3287               4685  ...      3537               4868
2022-12-30      3480               4857  ...      3072               4492
2022-12-31      3061               4511  ...      3039               4475

hour                                           weekday Weekend     month  \
region     Occitanie  PACA Pays-de-la-Loire
date
2021-01-01      5947  6435             4308     Friday   False   January
2021-01-02      4975  5663             3646   Saturday    True   January
2021-01-03      4632  5420             3466     Sunday    True   January
2021-01-04      4032  4726             2709     Monday   False   January
2021-01-05      4185  4947             2722    Tuesday   False   January
...              ...   ...              ...        ...     ...       ...
2022-12-27      4438  5133             3377    Tuesday   False  December
2022-12-28      4697  5012             3270  Wednesday   False  December
2022-12-29      4448  4955             3443   Thursday   False  December
2022-12-30      4370  5046             3061     Friday   False  December
2022-12-31      4263  4765             3032   Saturday    True  December

hour        year isHolyday
region
date
2021-01-01  2021      True
2021-01-02  2021     False
2021-01-03  2021     False
2021-01-04  2021     False
2021-01-05  2021     False
...          ...       ...
2022-12-27  2022     False
2022-12-28  2022     False
2022-12-29  2022     False
2022-12-30  2022     False
2022-12-31  2022     False

[730 rows x 629 columns]

In [ ]:
def df_to_matrix(df):
      df_mc=df_global.copy()
      df_mc['heure'] = df_mc['DateHeure'].dt.hour
      df_mc['hour'] = df_mc['DateHeure'].dt.strftime('%H:%M')
      df_mc['date'] = df_mc['DateHeure'].dt.strftime('%Y-%m-%d')
      df_mc['date'] = pd.to_datetime(df_mc['date'])
      #df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 'Matin' if x <12 else ('Apres-midi' if x <18 else ('Soir' if x < 22  else 'Nuit')))
      df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 0 if x <12 else (1 if x <18 else (2 if x < 22  else 3)))
      df_matrix = df_mc.pivot_table(index=["date"], 
                                                  columns=["hour","region"], 
                                                  values="conso")
      # Reconstruction des informations calendrier utiles

      # Créez une colonne de jours de la semaine en utilisant la fonction weekday de calendar
      df_matrix["weekday"] = [calendar.day_name[date.weekday()] 
                                            for date in df_matrix.index]

      # Ajoutez une colonne "Weekend" qui indique si la date est un week-end ou non
      df_matrix['Weekend'] =[True if date.weekday() in [calendar.SATURDAY, calendar.SUNDAY] else False   for date in df_matrix.index]
      df_matrix['month'] = df_matrix.index.strftime('%B')
      df_matrix["year"] = df_matrix.index.year
      # création d'une colonne pour indiquer si le jour est férié ou pas
      # objet holiday France
      fr_holidays = holidays.country_holidays('FR')
      df_matrix["isHolyday"]=df_matrix.index.map(lambda d: d in fr_holidays) 
      return df_matrix

In [ ]:
df_matix=df_to_matrix(df_global)

In [ ]:
df_matix

hour                      00:00                                   \
region     Auvergne-Rhône-Alpes Bourgogne-Franche-Comté Bretagne
date
2021-01-01                 8576                    2671     3984
2021-01-02                 8111                    2352     3018
2021-01-03                 7547                    2334     3219
2021-01-04                 6566                    2081     2608
2021-01-05                 6671                    2175     2656
...                         ...                     ...      ...
2022-12-27                 7017                    2026     2906
2022-12-28                 7797                    2027     2812
2022-12-29                 7691                    1814     2827
2022-12-30                 7432                    1975     2936
2022-12-31                 7167                    1695     2546

hour                                                                           \
region     Centre-Val de Loire France Grand-Est Hauts-de-France Ile-de-France
date
2021-01-01                2900  67010      5321            6340          9914
2021-01-02                2648  58834      5383            6550          8337
2021-01-03                2594  57017      5035            5937          8364
2021-01-04                1888  48189      4611            5406          6577
2021-01-05                2130  50370      4781            5625          7274
...                        ...    ...       ...             ...           ...
2022-12-27                2301  50799      4083            6222          8195
2022-12-28                2356  52142      4092            6507          8249
2022-12-29                2221  51097      4002            5316          7919
2022-12-30                2315  51553      3807            6306          8180
2022-12-31                2099  48022      4074            6133          7483

hour                                     ...     23:30                     \
region     Normandie Nouvelle-Aquitaine  ... Normandie Nouvelle-Aquitaine
date                                     ...
2021-01-01      4326               6512  ...      4230               6597
2021-01-02      3578               5083  ...      3738               5630
2021-01-03      3625               5205  ...      3655               5122
2021-01-04      2801               4249  ...      2915               4154
2021-01-05      3154               4442  ...      3061               4468
...              ...                ...  ...       ...                ...
2022-12-27      3540               4748  ...      3426               4826
2022-12-28      3416               4795  ...      3308               4750
2022-12-29      3287               4685  ...      3537               4868
2022-12-30      3480               4857  ...      3072               4492
2022-12-31      3061               4511  ...      3039               4475

hour                                           weekday Weekend     month  \
region     Occitanie  PACA Pays-de-la-Loire
date
2021-01-01      5947  6435             4308     Friday   False   January
2021-01-02      4975  5663             3646   Saturday    True   January
2021-01-03      4632  5420             3466     Sunday    True   January
2021-01-04      4032  4726             2709     Monday   False   January
2021-01-05      4185  4947             2722    Tuesday   False   January
...              ...   ...              ...        ...     ...       ...
2022-12-27      4438  5133             3377    Tuesday   False  December
2022-12-28      4697  5012             3270  Wednesday   False  December
2022-12-29      4448  4955             3443   Thursday   False  December
2022-12-30      4370  5046             3061     Friday   False  December
2022-12-31      4263  4765             3032   Saturday    True  December

hour        year isHolyday
region
date
2021-01-01  2021      True
2021-01-02  2021     False
2021-01-03  2021     False
2021-01-04  2021     False
2021-01-05  2021     False
...          ...       ...
2022-12-27  2022     False
2022-12-28  2022     False
2022-12-29  2022     False
2022-12-30  2022     False
2022-12-31  2022     False

[730 rows x 629 columns]